---
layout: base
---

<div class="main-page">
  <div class="hero-wrapper">
    {% include "./partials/navbar.html" %}
    <div class="hero-image"></div>
    <div
      class="container mx-auto lg:h-screen flex flex-col justify-center items-center text-white"
    >
      <h3 class="mb-0">
        Community &middot; Skills Sharing &middot; Digital Literacy
      </h3>
      <h1 class="mt-0">
        Research Bazaar
        <strong
          class="bg-clip-text text-transparent bg-gradient-to-r from-orange-300 to-red-400"
        >
          Arizona
        </strong>
      </h1>
      <a
        class="bg-orange-500 hover:bg-orange-600 visited:bg-orange-700 !text-white font-bold py-2 px-4 rounded"
        href="https://researchbazaar.arizona.edu/resbaz/Arizona2023/"
      >
        ResBaz AZ 2023 Festival
      </a>
    </div>
  </div>

  <div class="container">{{ content | safe }}</div>

  {% include "./partials/footer.html" %}
</div>
